@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "OpenSansBold";
  src: url(fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'OpenSans';
  font-size: 2rem;
  /* 1rem = 10px here */

  background-color: #000;
  color: #fff;
  background-image: url(./images/helloworld.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}